*{
    padding: 0px;
    margin: 0px;
    background-color: white;
}

.header{
     width: auto;
     height: 50px;
     border: 1px solid black;
      padding-left: 600px;
      margin-bottom: 10px;
      background-color: rgb(126, 133, 118);
}

.navbar{
    width:auto;
    height: 60px;
    border: 1px solid black;
    padding: 10px;
    background-color: 
    /* display: flex;
    justify-content: end; */


}

.navbar ol li{
    list-style-type: none;
    float:right;
    padding: 10px;
    background-color: azure;
}

.mainimage{
    margin-top: 10px;
}

/* .mainimage img{
    width: 1000px;
    height: 200px;
} */

.container{
    width: auto;
    height: 300px;
    padding-top: 30px;
    padding-right: 20px;
    padding-left: 50px;
    display: flex;
}

.box{
    width: 280px;
    height: 250px;
    border: 1px solid black;
    flex-direction: column;
    padding-top: 10px;
    margin-right: 80px;
}

.productim{
    padding-left: 25px;
}

.name{
    padding-left: 50px;
    margin-top: 4px;
}

.foot{
    padding-top: 60px;
    padding-left: 600px;
}